
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


/*HOME*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Poppins" , sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(22, 17, 17)
}

a, 
.btn{
    transition: all 300ms ease;
}
nav, 
.nav-links{
    display:flex;

}
nav{
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}
a{
    color: rgb(30, 86, 138);
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: coral;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.logo{
    font-size: 2rem;
    text-shadow: 6rem;

}
.logo:hover{
    cursor: default;
}
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 90vh;
}
.pic-container{
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}
.section_text{
    align-self: center;
    text-align: center;
}
.section_text p{
    font-weight: 300;
}

.section_text_p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.section_text_p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 2.5rem;
    text-align: center;
}
#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 2rem;
}
.btn-container{
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms;
    padding: 1rem;
    width: 7rem;
    border-radius: 2rem;
}
.btn-color-1,.btn-color-2{
    border: black 2 rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover{
   cursor: pointer;
}
.btn-color-1,
.btn-color-2:hover{
   background: black;
   color:white;
}
.btn-color-1:hover{
    background: rgb(107, 100, 100);
}
.btn-color-2{
    background: black;
    color: white;
}
.btn-color-2:hover{
    background:rgb(107, 100, 100);
}
.btn-container{
    gap: 1 rem;
}


/*ABOUT*/


#about{
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-details-container{
    padding: 1.5rem;
    justify-content: center;
    flex-direction: column;
}
.about-containers, .about-details-container{
    display: inline;
}
.about-pic {
    height: 300px;
    width: 300px;
    border-radius: 10rem;
  }


/*SKILLS*/


.skills_data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills_name{
    display: flex;
    font-weight: bold;
    font-style: italic;
    align-items: center;
}
.skill_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0.5rem;
    background-color: rgb(34, 31, 31);
}
.skill_py{
    width: 80%;
}
.skill_java{
    width: 70%;
}
.skill_html{
    width: 75%;
}
.skill_css{
    width: 80%
}
.skill_js{
    width: 75%;
}
.skill_uiux{
    width:70%
}



  /*PROJECTS*/

  .projects{
    text-align: center;
    
  }
  .project_container{
    row-gap: 2rem;
  }
  .project_img{
    align-items: center;
    height: 150px;
    width: 250px;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
  }
.project_img img{
    display: flex;
    transition: 1ms;
    cursor: pointer;
}
.project_img img:hover{
    transform: scale(1.1);
}



/* CONTACT */


#contact-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.contact h2{
    margin-bottom: .3rem;
}
.contact form{
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1rem;
    font-size: .75rem;
    color:black;
    background: rgb(224, 224, 224);
    border-radius: .8rem;
    margin: .7rem ;
}
.contact form .input-box input{
    width: 40%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 1rem;
    background: black;
    color: white;
    cursor: pointer;
}
.contact form .btn:hover{
    background: rgb(107, 100, 100);
}


/*FOOTER*/


footer {
    height: 1rem;
    margin: 0 0.1rem;
  }
  
  footer p {
    text-align: center;
  }
